
/*header関連*/
header {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  padding: 10px 0;
  text-align: center;
}

.site-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.navigation li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  transition: background 0.3s;
}

.navigation li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
/*header関連終わり*/

body{
  background-image: url('img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/*hero関連*/
.hero{
  
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* 文字を見やすくするなら */
}
/*hero関連終わり*/

/*features関連*/
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 680px;
  min-height: 50vh;
  padding: 40px 20px;
  gap: 20px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;/* カードの最大幅を決める */
  height: 125px;
  text-align: center;
  flex: 1 1 calc(50% - 20px); /* 2個並べる設定 */
  box-sizing: border-box;
}
.card h3 {
  margin-bottom: 0px;
  margin-top: 5px;
}
.card p {
  margin: 3px;
}
.card .date {
  margin: 3px;
  font-size: 10px;
  color: #333;
}
@media (max-width: 640px) {
  .card {
    flex: 1 1 100%;/* 画面が狭いときは1列 */
  }
}


/*features関連終わり*/



/*footer関連*/
footer {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: 20px;
}
/*footer関連終わり*/

@media (max-width: 600px) {
  .hero h2 {
    font-size: 2rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
/*article関連*/
article{
  min-height: 80vh;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  border-radius: 15px;
  padding: 5vw;
  margin-top: 20px;
}
article p{
  margin: 5px;
}
article h1{
  font-size: 1.5rem;
  position: relative;
  padding: 0.3em 0.5em;
  background: -webkit-linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  color: #495193;
}
article h2{
  font-size: 1.2rem;
  border-bottom: solid 3px black;
}
@media (max-width: 900px) {
  article{
    width: 85vw;
    min-height: 80vh;
  }
}
/*article関連終わり*/
